In [1]:
import pandas as pd
import json
import sys
sys.path.append('db')
from db.select_training_data import get_training_data
from preprocessing import Preprocessing
from hypothesis_testing import student_ttest
import matplotlib.pyplot as plt

In [2]:
df = get_training_data()
df

/mnt/c/Users/victo/OneDrive/Desktop/League/League_ARAM_prediction_model-main/db/select_training_data.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(select_query, connection)

,game_result,level_p1,champ_name_p1,class_p1,champ_difficulty_p1,total_poke1,hard_cc_champ1,level_p2,champ_name_p2,class_p2,...,class_p4,champ_difficulty_p4,total_poke4,hard_cc_champ4,level_p5,champ_name_p5,class_p5,champ_difficulty_p5,total_poke5,hard_cc_champ5
0,W,247,Cassiopeia,"[""Mage""]",10,2,2,801,Evelynn,"[""Assassin"", ""Mage""]",...,"[""Fighter""]",4,0,2,371,Swain,"[""Mage"", ""Fighter""]",8,2,1
1,L,739,Soraka,"[""Support"", ""Mage""]",3,2,1,177,Gnar,"[""Fighter"", ""Tank""]",...,"[""Fighter"", ""Assassin""]",3,0,3,545,Draven,"[""Marksman""]",8,1,1
2,W,674,Leona,"[""Tank"", ""Support""]",4,0,2,104,Lissandra,"[""Mage""]",...,"[""Fighter"", ""Tank""]",4,1,0,738,Ezreal,"[""Marksman"", ""Mage""]",7,2,1
3,L,177,Akali,"[""Assassin""]",7,0,0,465,Lucian,"[""Marksman""]",...,"[""Support"", ""Mage""]",2,2,1,182,Janna,"[""Support"", ""Mage""]",7,1,1
4,W,46,Malphite,"[""Tank"", ""Fighter""]",2,2,1,564,Lissandra,"[""Mage""]",...,"[""Assassin""]",7,0,0,118,Teemo,"[""Marksman"", ""Assassin""]",6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36143,L,119,Pantheon,"[""Fighter"", ""Assassin""]",4,1,1,37,TwistedFate,"[""Mage""]",...,"[""Assassin"", ""Mage""]",8,1,0,199,Rakan,"[""Support""]",5,0,2
36144,W,53,Warwick,"[""Fighter"", ""Tank""]",3,0,1,392,MissFortune,"[""Marksman""]",...,"[""Mage""]",8,4,1,121,Aatrox,"[""Fighter"", ""Tank""]",4,0,0
36145,L,81,Maokai,"[""Tank"", ""Mage""]",3,2,3,320,Sona,"[""Support"", ""Mage""]",...,"[""Mage"", ""Fighter""]",8,2,1,131,Lucian,"[""Marksman""]",6,1,0
36146,W,718,Irelia,"[""Fighter"", ""Assassin""]",5,1,0,255,Thresh,"[""Support"", ""Fighter""]",...,"[""Assassin"", ""Fighter""]",8,0,1,462,Pyke,"[""Support"", ""Assassin""]",7,1,2
36147,L,320,Diana,"[""Fighter"", ""Mage""]",4,1,1,121,KogMaw,"[""Marksman"", ""Mage""]",...,"[""Marksman""]",1,3,0,374,Zyra,"[""Mage"", ""Support""]",7,3,2

In [3]:
pp = Preprocessing(df)
data = pp.fit()
data

,game_result,level_p1,champ_difficulty_p1,total_poke1,hard_cc_champ1,level_p2,champ_difficulty_p2,total_poke2,hard_cc_champ2,level_p3,...,Sejuani,Qiyana,Udyr,RekSai,num_assassin,num_fighters,num_mages,num_marksmen,num_supports,num_tanks
0,W,247,10,2,2,801,10,0,1,47,...,0,0,0,0,1,2,3,0,1,1
1,L,739,3,2,1,177,8,1,1,112,...,0,0,0,0,2,2,1,1,1,1
2,W,674,4,0,2,104,6,2,1,106,...,0,0,0,0,1,2,2,1,1,2
3,L,177,7,0,0,465,6,1,0,34,...,0,0,0,0,1,0,2,2,3,0
4,W,46,2,2,1,564,6,2,1,470,...,0,0,0,0,2,2,1,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36143,L,119,4,1,1,37,9,2,1,317,...,0,0,0,0,2,2,3,0,1,0
36144,W,53,3,0,1,392,1,3,0,400,...,0,0,0,0,0,3,1,1,0,3
36145,L,81,3,2,3,320,4,1,1,518,...,0,0,0,0,0,1,3,1,1,2
36146,W,718,5,1,0,255,7,0,1,118,...,0,0,0,0,3,4,1,0,2,0
36147,L,320,4,1,1,121,6,3,0,93,...,0,0,0,0,1,1,4,2,1,0

In [4]:
player_level = ['level_p1', 'level_p2', 'level_p3', 'level_p4', 'level_p5']
levels = data.groupby(['game_result'])[player_level].mean().mean(axis=1)

In [5]:
player_difficulty = ['champ_difficulty_p1', 'champ_difficulty_p2', 'champ_difficulty_p3', 'champ_difficulty_p4', 'champ_difficulty_p5']
difficulties = data.groupby(['game_result'])[player_difficulty].mean().mean(axis=1)

In [6]:
player_cc = ['hard_cc_champ1', 'hard_cc_champ2', 'hard_cc_champ3', 'hard_cc_champ4', 'hard_cc_champ5']
ccs = data.groupby(['game_result'])[player_cc].mean().mean(axis=1)

In [7]:
player_poke = ['total_poke1', 'total_poke2', 'total_poke3', 'total_poke4', 'total_poke5']
pokes = data.groupby(['game_result'])[player_poke].mean().mean(axis=1)

In [8]:
pd.DataFrame({'Summoner level': levels, 'Champ Difficulty': difficulties, 'Total CC': ccs, 'Total Poke': pokes})

             Summoner level  Champ Difficulty  Total CC  Total Poke
game_result
L                326.445933          5.664623  0.893139    1.298882
W                329.433164          5.607879  0.908410    1.316178

In [17]:
student_ttest(df[player_level].loc[df['game_result']=='W'].mean(axis=1), df[player_level].loc[df['game_result']=='L'].mean(axis=1), test='less')

(2.3535265261099387, 0.9906991952797762)

In [18]:
student_ttest(df[player_difficulty].loc[df['game_result']=='W'].mean(axis=1), df[player_difficulty].loc[df['game_result']=='L'].mean(axis=1), test='greater')

(-5.5192817123089855, 0.9999999828639481)

In [19]:
student_ttest(df[player_cc].loc[df['game_result']=='W'].mean(axis=1), df[player_cc].loc[df['game_result']=='L'].mean(axis=1), test='less')

(4.692017080302497, 0.9999986424310362)

In [20]:
student_ttest(df[player_poke].loc[df['game_result']=='W'].mean(axis=1), df[player_poke].loc[df['game_result']=='L'].mean(axis=1), test='less')

(3.624836110412531, 0.9998552290086401)

In [22]:
y = data['game_result']
X = data.drop(['game_result'], axis=1)
X

,level_p1,champ_difficulty_p1,total_poke1,hard_cc_champ1,level_p2,champ_difficulty_p2,total_poke2,hard_cc_champ2,level_p3,champ_difficulty_p3,...,Sejuani,Qiyana,Udyr,RekSai,num_assassin,num_fighters,num_mages,num_marksmen,num_supports,num_tanks
0,247,10,2,2,801,10,0,1,47,6,...,0,0,0,0,1,2,3,0,1,1
1,739,3,2,1,177,8,1,1,112,7,...,0,0,0,0,2,2,1,1,1,1
2,674,4,0,2,104,6,2,1,106,5,...,0,0,0,0,1,2,2,1,1,2
3,177,7,0,0,465,6,1,0,34,4,...,0,0,0,0,1,0,2,2,3,0
4,46,2,2,1,564,6,2,1,470,4,...,0,0,0,0,2,2,1,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36143,119,4,1,1,37,9,2,1,317,9,...,0,0,0,0,2,2,3,0,1,0
36144,53,3,0,1,392,1,3,0,400,4,...,0,0,0,0,0,3,1,1,0,3
36145,81,3,2,3,320,4,1,1,518,4,...,0,0,0,0,0,1,3,1,1,2
36146,718,5,1,0,255,7,0,1,118,8,...,0,0,0,0,3,4,1,0,2,0
36147,320,4,1,1,121,6,3,0,93,8,...,0,0,0,0,1,1,4,2,1,0

In [21]:


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [42]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X_train, y_train)
Y_pred_neigh =neigh.predict(X_test)
s = f1_score(y_test, Y_pred_neigh)
print(f'F1 Score KNear: {round(s*100,2)}%')

F1 Score KNear: 70.29%

In [43]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, y_train)
Y_pred_NB = gnb.predict(X_test)
s = f1_score(y_test, Y_pred_NB)
print(f'F1 Score Naive Bayes: {round(s*100,2)}%')

F1 Score Naive Bayes: 78.67%

In [50]:
from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(Y_pred_neigh, y_test).ravel()
confusion_matrix(Y_pred_neigh, y_test)

array([[229, 101],
       [107, 246]], dtype=int64)